.cards__like {
    width: 22px;
    height: 19px;
    cursor: pointer;
    border: none;
    background-image: url(../../../images/like.png);
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.cards__like:hover {
    opacity: 0.5;
}