    .header {
        display: flex;
        margin: 0 auto;
        margin-bottom: 42px;
        padding: 0;
        padding-bottom: 31px;
        max-width: 320px;
        border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    }
    
    @media screen and (min-width: 760px) {
        .header {
            max-width: 620px;
        }
    }
    
    @media screen and (min-width: 1024px) {
        .header {
            max-width: 820px;
        }
    }
    
    @media screen and (min-width: 1280px) {
        .header {
            max-width: 880px;
            padding-bottom: 41px;
        }
    }